/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 40px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

div.dcc-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.dcc-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.card-footer {
    background-color: #f1f1f1;
    padding: 10px;
}
